h1 {
    font-family: 'Georgia', serif;
    text-align: center;
    font-size: 2em;
}

fieldset, button {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

legend, label, p{
    font-weight: bold;
    display: block
}

.titulos {
    color: #0fa730;
}

input:hover {
    background-color: #e24545;;
}

input:focus {
    background-color: #f0ec2d;
    outline: none;
}